<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HangQing</key>
	<dict>
		<key>guijinshu</key>
		<array>
			<dict>
				<key>name</key>
				<string>2010原油</string>
				<key>englishName</key>
				<string>XAGUSD FUT_M</string>
				<key>salePrice</key>
				<string>19.076</string>
				<key>buyPrice</key>
				<string>19.112</string>
				<key>zhangFu</key>
				<string>+2.07%</string>
				<key>kuiSun</key>
				<string>+0.386</string>
			</dict>
			<dict>
				<key>name</key>
				<string>钯金</string>
				<key>englishName</key>
				<string>XPDUSD FUT_M</string>
				<key>salePrice</key>
				<string>1984.34</string>
				<key>buyPrice</key>
				<string>1996.86</string>
				<key>zhangFu</key>
				<string>+1.08%</string>
				<key>kuiSun</key>
				<string>+21.22</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铜</string>
				<key>englishName</key>
				<string>COPPER FUT_M</string>
				<key>salePrice</key>
				<string>294.63</string>
				<key>buyPrice</key>
				<string>295.13</string>
				<key>zhangFu</key>
				<string>+1.20%</string>
				<key>kuiSun</key>
				<string>+3.54</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铂金</string>
				<key>englishName</key>
				<string>XRTUSD FUT_M</string>
				<key>salePrice</key>
				<string>842.04</string>
				<key>buyPrice</key>
				<string>845.04</string>
				<key>zhangFu</key>
				<string>+1.75%</string>
				<key>kuiSun</key>
				<string>+14.56</string>
			</dict>
			<dict>
				<key>name</key>
				<string>现货黄金</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>1808.81</string>
				<key>buyPrice</key>
				<string>1809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>锡</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>11808.81</string>
				<key>buyPrice</key>
				<string>11809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铅</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>12808.81</string>
				<key>buyPrice</key>
				<string>12809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>锌</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>14308.81</string>
				<key>buyPrice</key>
				<string>15008.81</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阴极铜</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>52379</string>
				<key>buyPrice</key>
				<string>52550</string>
				<key>zhangFu</key>
				<string>+0.37%</string>
				<key>kuiSun</key>
				<string>+350</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铝锭</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>14930.00</string>
				<key>buyPrice</key>
				<string>14910.00</string>
				<key>zhangFu</key>
				<string>-0.32%</string>
				<key>kuiSun</key>
				<string>-80</string>
			</dict>
			<dict>
				<key>name</key>
				<string>硒粉</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>105.00</string>
				<key>buyPrice</key>
				<string>130.00</string>
				<key>zhangFu</key>
				<string>+0.50%</string>
				<key>kuiSun</key>
				<string>+25</string>
			</dict>
			<dict>
				<key>name</key>
				<string>硒锭99%</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>140</string>
				<key>buyPrice</key>
				<string>115</string>
				<key>zhangFu</key>
				<string>-2.3%</string>
				<key>kuiSun</key>
				<string>-34.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铟</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>910</string>
				<key>buyPrice</key>
				<string>930</string>
				<key>zhangFu</key>
				<string>+1.2%</string>
				<key>kuiSun</key>
				<string>+20</string>
			</dict>
		</array>
		<key>yuanyou</key>
		<array>
			<dict>
				<key>name</key>
				<string>2010原油</string>
				<key>englishName</key>
				<string>USOil FUT_E</string>
				<key>salePrice</key>
				<string>39.820</string>
				<key>buyPrice</key>
				<string>39.870</string>
				<key>zhangFu</key>
				<string>-1.80%</string>
				<key>kuiSun</key>
				<string>-0.740</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2011原油</string>
				<key>englishName</key>
				<string>UKOil FUT_E</string>
				<key>salePrice</key>
				<string>42.630</string>
				<key>buyPrice</key>
				<string>42.690</string>
				<key>zhangFu</key>
				<string>-1.41%</string>
				<key>kuiSun</key>
				<string>-0.615</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2012原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>1.7985</string>
				<key>buyPrice</key>
				<string>1.8105</string>
				<key>zhangFu</key>
				<string>-0.39%</string>
				<key>kuiSun</key>
				<string>-0.070</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2101原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>297.3</string>
				<key>buyPrice</key>
				<string>293.6</string>
				<key>zhangFu</key>
				<string>-2.3%</string>
				<key>kuiSun</key>
				<string>-6.3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2102原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>305.4</string>
				<key>buyPrice</key>
				<string>303.4</string>
				<key>zhangFu</key>
				<string>-0.63%</string>
				<key>kuiSun</key>
				<string>-2.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2103原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>339.2</string>
				<key>buyPrice</key>
				<string>332.9</string>
				<key>zhangFu</key>
				<string>-1.39%</string>
				<key>kuiSun</key>
				<string>-7.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2104原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>349.0</string>
				<key>zhangFu</key>
				<string>+0.39%</string>
				<key>kuiSun</key>
				<string>+4.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2203原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>349.0</string>
				<key>zhangFu</key>
				<string>+0.39%</string>
				<key>kuiSun</key>
				<string>+4.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2105原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>358.2</string>
				<key>zhangFu</key>
				<string>-0.43%</string>
				<key>kuiSun</key>
				<string>-6.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2106原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>323.0</string>
				<key>buyPrice</key>
				<string>319.0</string>
				<key>zhangFu</key>
				<string>-1.9%</string>
				<key>kuiSun</key>
				<string>-20.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2203原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>383.8</string>
				<key>buyPrice</key>
				<string>359.0</string>
				<key>zhangFu</key>
				<string>+0.79%</string>
				<key>kuiSun</key>
				<string>+24.5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2306原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>430.0</string>
				<key>buyPrice</key>
				<string>430.0</string>
				<key>zhangFu</key>
				<string>+0%</string>
				<key>kuiSun</key>
				<string>+0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>2108原油</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>1797.00</string>
				<key>buyPrice</key>
				<string>1759.00</string>
				<key>zhangFu</key>
				<string>-2.9%</string>
				<key>kuiSun</key>
				<string>-39</string>
			</dict>
		</array>
		<key>NongChanPin</key>
		<array>
			<dict>
				<key>name</key>
				<string>可可</string>
				<key>salePrice</key>
				<string>2148</string>
				<key>buyPrice</key>
				<string>2151</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>小麦</string>
				<key>salePrice</key>
				<string>532.00</string>
				<key>buyPrice</key>
				<string>532.38</string>
				<key>zhangFu</key>
				<string>-0.51%</string>
				<key>kuiSun</key>
				<string>-2.75</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大豆</string>
				<key>salePrice</key>
				<string>882.00</string>
				<key>buyPrice</key>
				<string>882.50</string>
				<key>zhangFu</key>
				<string>+0.51%</string>
				<key>kuiSun</key>
				<string>+4.51</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉米</string>
				<key>salePrice</key>
				<string>331.13</string>
				<key>buyPrice</key>
				<string>331.63</string>
				<key>zhangFu</key>
				<string>+1.49%</string>
				<key>kuiSun</key>
				<string>+5.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>纸浆</string>
				<key>salePrice</key>
				<string>4191.8</string>
				<key>buyPrice</key>
				<string>4191.4</string>
				<key>zhangFu</key>
				<string>+0.4%</string>
				<key>kuiSun</key>
				<string>+16.7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>人造板</string>
				<key>salePrice</key>
				<string>49.8</string>
				<key>buyPrice</key>
				<string>49.9</string>
				<key>zhangFu</key>
				<string>0%</string>
				<key>kuiSun</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>稻米</string>
				<key>salePrice</key>
				<string>3834.4</string>
				<key>buyPrice</key>
				<string>3834.5</string>
				<key>zhangFu</key>
				<string>0.02%</string>
				<key>kuiSun</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>复合肥</string>
				<key>salePrice</key>
				<string>2550.0</string>
				<key>buyPrice</key>
				<string>2490.0</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白糖</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黄大豆1号</string>
				<key>salePrice</key>
				<string>5750.00</string>
				<key>buyPrice</key>
				<string>5439.00</string>
				<key>zhangFu</key>
				<string>-3.4%</string>
				<key>kuiSun</key>
				<string>-328.8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白糖</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>棕榈油</string>
				<key>salePrice</key>
				<string>5575.00</string>
				<key>buyPrice</key>
				<string>5459.00</string>
				<key>zhangFu</key>
				<string>-2.92%</string>
				<key>kuiSun</key>
				<string>-382.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>甲醇</string>
				<key>salePrice</key>
				<string>1589.6</string>
				<key>buyPrice</key>
				<string>1586.9</string>
				<key>zhangFu</key>
				<string>-0.02%</string>
				<key>kuiSun</key>
				<string>-3.3</string>
			</dict>
		</array>
	</dict>
	<key>shouye</key>
	<dict>
		<key>shanghai</key>
		<array>
			<dict>
				<key>name</key>
				<string>沪锡2007</string>
				<key>englishName</key>
				<string>XAGUSD FUT_M</string>
				<key>salePrice</key>
				<string>19.076</string>
				<key>buyPrice</key>
				<string>19.112</string>
				<key>zhangFu</key>
				<string>+2.07%</string>
				<key>kuiSun</key>
				<string>+0.386</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沪镍2007</string>
				<key>englishName</key>
				<string>XPDUSD FUT_M</string>
				<key>salePrice</key>
				<string>1984.34</string>
				<key>buyPrice</key>
				<string>1996.86</string>
				<key>zhangFu</key>
				<string>+1.08%</string>
				<key>kuiSun</key>
				<string>+21.22</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天胶2009</string>
				<key>englishName</key>
				<string>COPPER FUT_M</string>
				<key>salePrice</key>
				<string>294.63</string>
				<key>buyPrice</key>
				<string>295.13</string>
				<key>zhangFu</key>
				<string>+1.20%</string>
				<key>kuiSun</key>
				<string>+3.54</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沪铝2006</string>
				<key>englishName</key>
				<string>XRTUSD FUT_M</string>
				<key>salePrice</key>
				<string>842.04</string>
				<key>buyPrice</key>
				<string>845.04</string>
				<key>zhangFu</key>
				<string>+1.75%</string>
				<key>kuiSun</key>
				<string>+14.56</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沪铅2006</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>1808.81</string>
				<key>buyPrice</key>
				<string>1809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>沪锌2006</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>11808.81</string>
				<key>buyPrice</key>
				<string>11809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>燃料油2009</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>12808.81</string>
				<key>buyPrice</key>
				<string>12809.18</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>热轧卷板2010</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>14308.81</string>
				<key>buyPrice</key>
				<string>15008.81</string>
				<key>zhangFu</key>
				<string>+0.57%</string>
				<key>kuiSun</key>
				<string>+10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>螺纹钢2010</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>52379</string>
				<key>buyPrice</key>
				<string>52550</string>
				<key>zhangFu</key>
				<string>+0.37%</string>
				<key>kuiSun</key>
				<string>+350</string>
			</dict>
			<dict>
				<key>name</key>
				<string>线材2010</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>14930.00</string>
				<key>buyPrice</key>
				<string>14910.00</string>
				<key>zhangFu</key>
				<string>-0.32%</string>
				<key>kuiSun</key>
				<string>-80</string>
			</dict>
			<dict>
				<key>name</key>
				<string>石油沥青2006</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>105.00</string>
				<key>buyPrice</key>
				<string>130.00</string>
				<key>zhangFu</key>
				<string>+0.50%</string>
				<key>kuiSun</key>
				<string>+25</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白银2006</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>140</string>
				<key>buyPrice</key>
				<string>115</string>
				<key>zhangFu</key>
				<string>-2.3%</string>
				<key>kuiSun</key>
				<string>-34.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>黄金2006</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>910</string>
				<key>buyPrice</key>
				<string>930</string>
				<key>zhangFu</key>
				<string>+1.2%</string>
				<key>kuiSun</key>
				<string>+20</string>
			</dict>
		</array>
		<key>zhishu</key>
		<array>
			<dict>
				<key>name</key>
				<string>IC0</string>
				<key>englishName</key>
				<string>XAGUSD FUT_M</string>
				<key>salePrice</key>
				<string>6353.6</string>
				<key>buyPrice</key>
				<string>6351.6</string>
				<key>zhangFu</key>
				<string>-0.03%</string>
				<key>kuiSun</key>
				<string>-2.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IC2009</string>
				<key>englishName</key>
				<string>XPDUSD FUT_M</string>
				<key>salePrice</key>
				<string>6353.6</string>
				<key>buyPrice</key>
				<string>6350.6</string>
				<key>zhangFu</key>
				<string>-0.03%</string>
				<key>kuiSun</key>
				<string>-1.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IC2010</string>
				<key>englishName</key>
				<string>COPPER FUT_M</string>
				<key>salePrice</key>
				<string>6267.0</string>
				<key>buyPrice</key>
				<string>6262.0</string>
				<key>zhangFu</key>
				<string>-0.08%</string>
				<key>kuiSun</key>
				<string>-5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IC2012</string>
				<key>englishName</key>
				<string>XRTUSD FUT_M</string>
				<key>salePrice</key>
				<string>6090.0</string>
				<key>buyPrice</key>
				<string>6113.6</string>
				<key>zhangFu</key>
				<string>-0.29%</string>
				<key>kuiSun</key>
				<string>-18.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IC2103</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>5866.0</string>
				<key>buyPrice</key>
				<string>5889.0</string>
				<key>zhangFu</key>
				<string>-0.31%</string>
				<key>kuiSun</key>
				<string>-18.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IH0</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>3288.6</string>
				<key>buyPrice</key>
				<string>3276.6</string>
				<key>zhangFu</key>
				<string>-0.57%</string>
				<key>kuiSun</key>
				<string>-10.29</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IH2009</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>3288.6</string>
				<key>buyPrice</key>
				<string>3268.6</string>
				<key>zhangFu</key>
				<string>-0.64%</string>
				<key>kuiSun</key>
				<string>-21.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IH2010</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>3270.4</string>
				<key>buyPrice</key>
				<string>3264.4</string>
				<key>zhangFu</key>
				<string>-0.95%</string>
				<key>kuiSun</key>
				<string>-31.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IH2012</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>3270.4</string>
				<key>buyPrice</key>
				<string>3291.6</string>
				<key>zhangFu</key>
				<string>-0.45%</string>
				<key>kuiSun</key>
				<string>-23.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IH2103</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>3209.4</string>
				<key>buyPrice</key>
				<string>3244.8</string>
				<key>zhangFu</key>
				<string>-1.07%</string>
				<key>kuiSun</key>
				<string>-34.6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>期指0</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>4648.2</string>
				<key>buyPrice</key>
				<string>4677.6</string>
				<key>zhangFu</key>
				<string>-0.57%</string>
				<key>kuiSun</key>
				<string>-26.8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>期指2009</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>4648.2</string>
				<key>buyPrice</key>
				<string>4615.8</string>
				<key>zhangFu</key>
				<string>-0.54%</string>
				<key>kuiSun</key>
				<string>-25.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>期指2012</string>
				<key>englishName</key>
				<string>XAUUSD FUT_M</string>
				<key>salePrice</key>
				<string>4551.0</string>
				<key>buyPrice</key>
				<string>4580.2</string>
				<key>zhangFu</key>
				<string>-0.62%</string>
				<key>kuiSun</key>
				<string>-28.2</string>
			</dict>
		</array>
		<key>zhengzhou</key>
		<array>
			<dict>
				<key>name</key>
				<string>棉纱2009</string>
				<key>englishName</key>
				<string>USOil FUT_E</string>
				<key>salePrice</key>
				<string>39.820</string>
				<key>buyPrice</key>
				<string>39.870</string>
				<key>zhangFu</key>
				<string>-1.80%</string>
				<key>kuiSun</key>
				<string>-0.740</string>
			</dict>
			<dict>
				<key>name</key>
				<string>棉花2009</string>
				<key>englishName</key>
				<string>UKOil FUT_E</string>
				<key>salePrice</key>
				<string>42.630</string>
				<key>buyPrice</key>
				<string>42.690</string>
				<key>zhangFu</key>
				<string>-1.41%</string>
				<key>kuiSun</key>
				<string>-0.615</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玻璃2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>1.7985</string>
				<key>buyPrice</key>
				<string>1.8105</string>
				<key>zhangFu</key>
				<string>-0.39%</string>
				<key>kuiSun</key>
				<string>-0.070</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PTA2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>297.3</string>
				<key>buyPrice</key>
				<string>293.6</string>
				<key>zhangFu</key>
				<string>-2.3%</string>
				<key>kuiSun</key>
				<string>-6.3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>菜籽油2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>305.4</string>
				<key>buyPrice</key>
				<string>303.4</string>
				<key>zhangFu</key>
				<string>-0.63%</string>
				<key>kuiSun</key>
				<string>-2.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>白糖2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>339.2</string>
				<key>buyPrice</key>
				<string>332.9</string>
				<key>zhangFu</key>
				<string>-1.39%</string>
				<key>kuiSun</key>
				<string>-7.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>菜籽粕2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>349.0</string>
				<key>zhangFu</key>
				<string>+0.39%</string>
				<key>kuiSun</key>
				<string>+4.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新甲醇2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>349.0</string>
				<key>zhangFu</key>
				<string>+0.39%</string>
				<key>kuiSun</key>
				<string>+4.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新动力煤2009</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>353.0</string>
				<key>buyPrice</key>
				<string>358.2</string>
				<key>zhangFu</key>
				<string>-0.43%</string>
				<key>kuiSun</key>
				<string>-6.2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>强麦2011</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>323.0</string>
				<key>buyPrice</key>
				<string>319.0</string>
				<key>zhangFu</key>
				<string>-1.9%</string>
				<key>kuiSun</key>
				<string>-20.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>锰硅2012</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>383.8</string>
				<key>buyPrice</key>
				<string>359.0</string>
				<key>zhangFu</key>
				<string>+0.79%</string>
				<key>kuiSun</key>
				<string>+24.5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>硅铁2012</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>430.0</string>
				<key>buyPrice</key>
				<string>430.0</string>
				<key>zhangFu</key>
				<string>+0%</string>
				<key>kuiSun</key>
				<string>+0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>油菜籽2011</string>
				<key>englishName</key>
				<string>NGAS FUT_E</string>
				<key>salePrice</key>
				<string>1797.00</string>
				<key>buyPrice</key>
				<string>1759.00</string>
				<key>zhangFu</key>
				<string>-2.9%</string>
				<key>kuiSun</key>
				<string>-39</string>
			</dict>
		</array>
		<key>dalian</key>
		<array>
			<dict>
				<key>name</key>
				<string>聚丙烯2009</string>
				<key>salePrice</key>
				<string>2148</string>
				<key>buyPrice</key>
				<string>2151</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>聚氯乙烯2009</string>
				<key>salePrice</key>
				<string>532.00</string>
				<key>buyPrice</key>
				<string>532.38</string>
				<key>zhangFu</key>
				<string>-0.51%</string>
				<key>kuiSun</key>
				<string>-2.75</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豆二2006</string>
				<key>salePrice</key>
				<string>882.00</string>
				<key>buyPrice</key>
				<string>882.50</string>
				<key>zhangFu</key>
				<string>+0.51%</string>
				<key>kuiSun</key>
				<string>+4.51</string>
			</dict>
			<dict>
				<key>name</key>
				<string>棕榈油2009</string>
				<key>salePrice</key>
				<string>331.13</string>
				<key>buyPrice</key>
				<string>331.63</string>
				<key>zhangFu</key>
				<string>+1.49%</string>
				<key>kuiSun</key>
				<string>+5.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豆一2009</string>
				<key>salePrice</key>
				<string>4191.8</string>
				<key>buyPrice</key>
				<string>4191.4</string>
				<key>zhangFu</key>
				<string>+0.4%</string>
				<key>kuiSun</key>
				<string>+16.7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焦炭2009</string>
				<key>salePrice</key>
				<string>49.8</string>
				<key>buyPrice</key>
				<string>49.9</string>
				<key>zhangFu</key>
				<string>0%</string>
				<key>kuiSun</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉米淀粉2009</string>
				<key>salePrice</key>
				<string>3834.4</string>
				<key>buyPrice</key>
				<string>3834.5</string>
				<key>zhangFu</key>
				<string>0.02%</string>
				<key>kuiSun</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>焦煤2009</string>
				<key>salePrice</key>
				<string>2550.0</string>
				<key>buyPrice</key>
				<string>2490.0</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豆粕2009</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玉米2009</string>
				<key>salePrice</key>
				<string>5750.00</string>
				<key>buyPrice</key>
				<string>5439.00</string>
				<key>zhangFu</key>
				<string>-3.4%</string>
				<key>kuiSun</key>
				<string>-328.8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>铁矿石2009</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>豆油2009</string>
				<key>salePrice</key>
				<string>5575.00</string>
				<key>buyPrice</key>
				<string>5459.00</string>
				<key>zhangFu</key>
				<string>-2.92%</string>
				<key>kuiSun</key>
				<string>-382.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鸡蛋2006</string>
				<key>salePrice</key>
				<string>1589.6</string>
				<key>buyPrice</key>
				<string>1586.9</string>
				<key>zhangFu</key>
				<string>-0.02%</string>
				<key>kuiSun</key>
				<string>-3.3</string>
			</dict>
		</array>
		<key>waipan</key>
		<array>
			<dict>
				<key>name</key>
				<string>LME镍</string>
				<key>salePrice</key>
				<string>2148</string>
				<key>buyPrice</key>
				<string>2151</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LME铅</string>
				<key>salePrice</key>
				<string>532.00</string>
				<key>buyPrice</key>
				<string>532.38</string>
				<key>zhangFu</key>
				<string>-0.51%</string>
				<key>kuiSun</key>
				<string>-2.75</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LME锡</string>
				<key>salePrice</key>
				<string>882.00</string>
				<key>buyPrice</key>
				<string>882.50</string>
				<key>zhangFu</key>
				<string>+0.51%</string>
				<key>kuiSun</key>
				<string>+4.51</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LME锌</string>
				<key>salePrice</key>
				<string>331.13</string>
				<key>buyPrice</key>
				<string>331.63</string>
				<key>zhangFu</key>
				<string>+1.49%</string>
				<key>kuiSun</key>
				<string>+5.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LME铝</string>
				<key>salePrice</key>
				<string>4191.8</string>
				<key>buyPrice</key>
				<string>4191.4</string>
				<key>zhangFu</key>
				<string>+0.4%</string>
				<key>kuiSun</key>
				<string>+16.7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LME铜</string>
				<key>salePrice</key>
				<string>49.8</string>
				<key>buyPrice</key>
				<string>49.9</string>
				<key>zhangFu</key>
				<string>0%</string>
				<key>kuiSun</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CBOT-大豆</string>
				<key>salePrice</key>
				<string>3834.4</string>
				<key>buyPrice</key>
				<string>3834.5</string>
				<key>zhangFu</key>
				<string>0.02%</string>
				<key>kuiSun</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CBOT-小麦</string>
				<key>salePrice</key>
				<string>2550.0</string>
				<key>buyPrice</key>
				<string>2490.0</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CBOT-玉米</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CBOT-黄豆油</string>
				<key>salePrice</key>
				<string>5750.00</string>
				<key>buyPrice</key>
				<string>5439.00</string>
				<key>zhangFu</key>
				<string>-3.4%</string>
				<key>kuiSun</key>
				<string>-328.8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CBOT-黄豆粉</string>
				<key>salePrice</key>
				<string>5509.00</string>
				<key>buyPrice</key>
				<string>5499.00</string>
				<key>zhangFu</key>
				<string>-0.92%</string>
				<key>kuiSun</key>
				<string>-20</string>
			</dict>
			<dict>
				<key>name</key>
				<string>COMEX铜</string>
				<key>salePrice</key>
				<string>5575.00</string>
				<key>buyPrice</key>
				<string>5459.00</string>
				<key>zhangFu</key>
				<string>-2.92%</string>
				<key>kuiSun</key>
				<string>-382.1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>COMEX铝</string>
				<key>salePrice</key>
				<string>1589.6</string>
				<key>buyPrice</key>
				<string>1586.9</string>
				<key>zhangFu</key>
				<string>-0.02%</string>
				<key>kuiSun</key>
				<string>-3.3</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
